<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de inicio</title>
    <!-- Incluye Bootstrap CSS si no lo has hecho ya -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- Barra de navegación -->
{% extends 'index.html' %}

{% block content %}
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="/media/imagenes_sistema/Logo.png" class="rounded" alt="Logo">
    </div>
</body>
{% endblock %}
</html>